@tailwind base;
@tailwind components;
@tailwind utilities;


.section-container {
    max-width: 700px;
}

.buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}